{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
<body>
	<!-- NAVIGATION BAR -->
	<nav id="navMenu"></nav>
	<script src="{{url_for('static', filename='interactive.js')}}"></script>
<div class = "everything">
    
{% if graph != None %}
	<div class = "graphcontainer"> 
		<!-- overall graph -->
		<div id ="graph1">
			<img src= "data:image/png;base64,{{ graph }}" alt = "Graph 	should be here oops.">
		</div>

    </div>

<!-- display the form -->
{% else %}
	<div class="form">
		{{ wtf.quick_form(form) }}
	</div>
{% endif %}

{% endblock %}