{% extends "base.html" %}
{% block page_content %}
<link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
<body>
	<!-- NAVIGATION BAR --> 
<div class = "everything">
	<nav id="navMenu"></nav>
	<script src="{{url_for('static', filename='interactive.js')}}"></script>
	<!-- PAGE CONTENT -->
	<div class = "infocontainer">
		<div class="headline"> 
			The Algorithm
		</div>
			<a href="https://github.com/danielferriss/ATS">
				<img src= "{{url_for('static', filename='images/logo.png')}}" class = "headlinepic" alt = "Logo should be here oops.">
			</a>
		<div class="info">
			This site will take in two stock tickers and a length of time. With this input it will...<br>
		    1. Query Alpha Vantage (a stock API) and get the data for the two stocks over the specified length of time.<br>
    		2. Remove any data that both stocks don't have. Alpha Vantage will sometimes be missing data for random times.<br>
    		3. Find if the stocks are correlated. The stock times will be shifted against each other to see if they are more correlated at a certain time offset.<br>
		    4. Make and display a graph of the two stocks over the entire time period.<br>
    		5. Make and display a graph of the two stocks over their most correlated length of time.<br>
    		6. Display correlation and offset data.<br>
    		Read more on our <a href="https://github.com/danielferriss/ATS">github</a>
		</div>
	</div>
</div>
</body>
{% endblock %}