body {
	/*gets random image for background*/
	background-image: url('https://picsum.photos/1920/1080');
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.everything {
	min-width: 500px;
}

/********************************************************
***********************NAV BAR***************************
********************************************************/

/*gets rid of default list look*/
ul {
	position: absolute;
	left: 0;
	right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .35);

}

li {
    float: left;
}

/*make buttons*/
li a {
    display: block;
    color: white;
    font-family: "Helvetica",Sans-Serif;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*changes background color on hover*/
li a:hover {
    background-color: rgba(0, 0, 0, .6);
}

/*makes button text be normal instead of blue underlined link*/
li a:link
{
   color: #ffffff;
   text-decoration: none;
}
/*makes button text not change after visit*/
li a:visited
{
   color: #ffffff;
   text-decoration: none;
}

/*shows what page you are on*/
.active {
    background-color: rgba(0, 0, 0, .9);
}


/********************************************************
******************FORM DECORATION************************
********************************************************/
form {
    font-family: "Helvetica",Sans-Serif;
	font-size: 1em;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .35);
	padding: 20px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

/********************************************************
******************GRAPH RETURN PAGE**********************
********************************************************/
.graphcontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 65%;
	width: 80%;
}
#graph1 {
	float: center;
	position: relative;
	padding: 20px 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .35);
}

/********************************************************
*******************COMMON PAGE UTILS*********************
********************************************************/
/*div that holds page content*/
.infocontainer {
	background-color: rgba(0, 0, 0, .35);
	padding: 20px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	max-height: 80%;
}

/*headline text for each page*/
.headline {
	font-family: "Helvetica",Sans-Serif;
	font-size: 5em;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
}

/*pic on news and algorithm pages*/
.headlinepic {
	float: left;
	display: block;
	max-height: 20em;
	padding: 20px 20px;
}

/*'article' text on news and algorithm*/
.info {
	font-family: "Helvetica",Sans-Serif;
	font-size: 1.8em;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 0px;
}

/*link styling*/
a:link {
	color: #ffffff;
	text-decoration: underline;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #aaaaaa;
}

a:active {
	color: #aaaaaa;
}

/********************************************************
***********************TEAM PAGE************************
********************************************************/
/*list of each person*/
.person {
	height: 25%;
	width: 25%;
}

/*pic of person*/
.person img {
	height: auto;
	width: 100%;
	padding: 10px 15px;
}

/*text about person*/
.person p {
	font-family: "Helvetica",Sans-Serif;
	font-size: 1.25em;
	text-decoration: none;
	color: #ffffff;
	padding: 0px 10px;
	text-align: center;
}