<!DOCTYPE html>
<html>

<head>
    <title>StockPage</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login_style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='inputs.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <div id="top" style="height:100vh;">
        <h1>Can't Handle Exception</h1>
    
    <form action="." method="POST">
        <div>
            <p>Name of the Stock: </p>
            <input type="text" name="name"/>
        </div>
        <!-- <button class="btn sixth" value="Login"/ style="width:20%; display: block; margin: 0 auto; font-size: 30px;"> -->
        <input type="submit" name="my-form" value="Submit"/>
        
    </form>
    </div>
</body>

</html>